@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<div class="skills">
    <h2>My Skills.</h2>
    <div class="skill-row">

        <h3>Front End Dev</h3>
        <p>I have been learning Frontend dev since 2 years and have a good knowledge.<br>Web Design Helps Convey Your Brand with True Impact</p>
        <br>
        <h3>Sketching </h3>
        <p>
            One of the hobby would be sketching anime characters.<br>
            sketching allows you to sit back and sketch a picture at your own pace.
        </p>
    </div>
</div>

