@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<div class="contact-me">
    <h2>Get In Touch</h2>
    <h3 class="contact">Looking for internship for web dev position</h3>
    <a class="btn" href="mailto:name@email.com">CONTACT ME</a>
</div>
      </div>
