<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Site</title>
    <link rel="stylesheet" href="CSS/Site.css">

</head>
<body>
    <div class="top-container">
        <h1>FUTURE READY TALENT!</h1>
        <h2>Website using Azure Services.</h2>
    </div>
    <div class="middle-container">
        <div class="profilee">

            <h2>SIMONI THANVI </h2>
            <p class="intro">Hello,I am a 3rd year MBATECH CE student.</p>
        </div>
        <hr>
        <div class="bottom-container">
            <a class="footer-link" href="https://www.linkedin.com/feed/">LinkedIn</a>
            <a class="footer-link" href="https://github.com/Simonithanvi3101">Website</a>
            <p class="cr">© Simoni Thanvi.</p>
        </div>
</body>
</html>